#heroImage { 
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ), 
        url(../imgs/wide-data-science.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

#googleCalendar {
    height: 350px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 3.5vw;
    height: 3.5vw;
}

.carouselTab {
    width: 3vw;
    height: 0.35vw;
}

footer {
    height: 70px;
    /* In case page doesn't extend to bottom of screen. */
    box-shadow: 0 50vh 0 50vh #212529;
}
