#contentWrapper {
    background-color: #ecf0f1;
}

.card-img-top  {
    filter: brightness(60%);
}

footer {
    height: 70px;
    /* In case page doesn't extend to bottom of screen. */
    box-shadow: 0 50vh 0 50vh #212529;
}
